/* Fonts */
.title,
.hero,
.navbar h3 {
  font-family: "Space Mono", monospace;
}

.menu span,
.aboutMe h1,
.whatIDo h1,
.recentWork h1,
.collab h1,
.collab button span {
  font-family: "Staatliches", cursive;
}

.aboutMe p,
.whatIDo p,
.collab p {
  font-family: "Cutive Mono", monospace;
}

.collab span {
  font-family: "Bubblegum Sans", cursive;
}

/* Fonts size */
.whatIDo h1,
.recentWork h1,
.collab h1 {
  font-size: 10rem;
}

.hero h1,
.aboutMe h1,
h2 {
  font-size: 5rem;
}

.menu span {
  font-size: 4rem;
}

.title,
.navbar h3 {
  font-size: 2.5rem;
}

.aboutMe p,
.whatIDo p,
.collab p,
.collab span {
  font-size: 1.5rem;
}

/* Spacing */
.aboutMe {
  padding-top: 20em;
}

.whatIDo,
.collab {
  padding-top: 15em;
  padding-bottom: 5em;
}

.recentWork {
  padding-top: 15em;
}

.hero {
  padding-top: 10vh;
}

.footer {
  padding-top: 3em;
}

.navbar h3 {
  margin-left: 0.3em;
}

.menu span {
  margin-left: 0.2em;
}

/* Navbar */
.navbar-light .navbar-toggler {
  border-color: transparent;
}

/* Form Styles */

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #212529;
}

.form-control:focus {
  border-color: #212529;
  box-shadow: none;
}

.btn {
  background-color: #212529;
}

/* Breakpoint */
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .title {
    font-size: 1.5rem;
  }

  .bg-transparent {
    background-color: #ffffff !important;
  }

  .navbar {
    border-bottom: 3px solid #212529;
  }

  .hero h1 {
    font-size: 1.3rem;
  }

  .hero {
    padding-top: 15vh;
  }

  .aboutMe {
    padding-top: 14em;
  }

  .aboutMe h1,
  h2,
  .whatIDo h1,
  .recentWork h1,
  .collab h1 {
    font-size: 2rem;
  }

  .aboutMe p,
  .whatIDo p,
  .collab p,
  .collab span {
    font-size: 1rem;
  }
}
