/* Fonts */
.title,
.hero {
  font-family: "Space Mono", monospace;
}

.aboutMe h1 {
  font-family: "Staatliches", cursive;
}

.aboutMe p {
  font-family: "Cutive Mono", monospace;
}

.title {
  font-size: 2.5em;
}

.hero h1 {
  font-size: 5rem;
}

.aboutMe h1,
h2 {
  font-size: 4rem;
}

.aboutMe p {
  font-size: 1.5rem;
}

/* Spacing */
.whatIDo,
.recentWork,
.collab,
.footer {
  padding-top: 8em;
}

.hero {
  padding-top: 5em;
}

.aboutMe {
  padding-top: 20em;
}

/* Breakpoint */

@media (max-width: 991.98px) {
  .hero h1 {
    font-size: 4rem;
  }
}

@media (max-width: 767.98px) {
  .hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 575.98px) {
  .hero h1 {
    font-size: 2rem;
  }
}
